[submodule "gtest"]
	# https://code.google.com/p/googletest/wiki/FAQ
	# > In the early days, we said that you could install compiled
	# > Google Test libraries on *nix systems using make install.
	# > Then every user of your machine can write tests without
	# > recompiling Google Test.
	# >
	# > This seemed like a good idea, but it has a got-cha: every
	# > user needs to compile his tests using the same compiler
	# > flags used to compile the installed Google Test libraries;
	# > otherwise he may run into undefined behaviors (i.e. the
	# > tests can behave strangely and may even crash for no obvious
	# > reasons).
	# ...
	# > Therefore, for your sanity, we recommend to avoid installing
	# > pre-compiled Google Test libraries. Instead, each project
	# > should compile Google Test itself such that it can be sure
	# > that the same flags are used for both Google Test and the
	# > tests.
	#
	path = gtest
	url = https://chromium.googlesource.com/external/googletest
	ignore = dirty
[submodule "gmock"]
	path = gmock
	url = https://chromium.googlesource.com/external/googlemock
	ignore = dirty
