*.o
*~
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
sipp
sipp-*.tar.gz
sipp_unittest
sipp_unittest.*
stamp-h1
test-driver
*.log
*.csv
vim_ctags
*.xml
stamp-h.in
*.orig
*.rej
*.patch
