

/* ==================== aural ============================ */

@media aural {
  h1, h2, h3, h4, h5, h6 { voice-family: paul, male; stress: 20; richness: 90 }
  h1 { pitch: x-low; pitch-range: 90 }
  h2 { pitch: x-low; pitch-range: 80 }
  h3 { pitch: low; pitch-range: 70 }
  h4 { pitch: medium; pitch-range: 60 }
  h5 { pitch: medium; pitch-range: 50 }
  h6 { pitch: medium; pitch-range: 40 }
  li, dt, dd { pitch: medium; richness: 60 }
  dt { stress: 80 }
  pre, code, tt { pitch: medium; pitch-range: 0; stress: 0; richness: 80 }
  em { pitch: medium; pitch-range: 60; stress: 60; richness: 50 }
  strong { pitch: medium; pitch-range: 60; stress: 90; richness: 90 }
  dfn { pitch: high; pitch-range: 60; stress: 60 }
  s, strike { richness: 0 }
  i { pitch: medium; pitch-range: 60; stress: 60; richness: 50 }
  b { pitch: medium; pitch-range: 60; stress: 90; richness: 90 }
  u { richness: 0 }
  
  :link { voice-family: harry, male }
  :visited { voice-family: betty, female }
  :active { voice-family: betty, female; pitch-range: 80; pitch: x-high }
}
  
a.external  {
  padding: 0 20px 0px 0px;
	display:inline;
  background-repeat: no-repeat;
	background-position: center right;
	background-image: url(images/external-link.gif);
}
  
    
    p.quote {
      margin-left: 2em;
      padding: .5em;
      background-color: #f0f0f0;
      font-family: monospace;
    }
    
    .pageBreakBefore {
      margin-bottom: 0;
      page-break-before: always;
    }
    
  
#banner, #banner td, #toptabs { background-color: #ffffff;}
#toptabs td { border-left: 1px solid #ffffff;}
#toptabs th { border-left: 1px solid #ffffff;}
#banner { border-top: 1px solid #ffffff;}

.tabs th  {
    background-color: #dddddd;
    border-right: 1px solid #9a9a9a;
	color: #000000;}
.tabs th a:link{
	color: #555555;}
.tabs th a:visited {
	color: #555555;}
.tabs th a:hover {
	color: #555555 !important; }
#mytools .label, #projecttools .label, #admintools .label, #communitytools .label {
	background-color: #dddddd;}
#mytools, #projecttools, #admintools, #communitytools {
	background-color: #dddddd;
	border-right: 1px solid #9a9a9a;
	border-bottom: 1px solid #9a9a9a;
}
.tabs {	border-bottom: 6px #dddddd solid; }
.tabs td {
   background-color: #999999;
   color: #000000;}
.tabs td a:link{
	color: #ffffff;}
.tabs td a:visited {
	color: #ffffff;}
.tabs td a:hover {
	color: #ffffff !important;}
    
#breadcrumbs a:link{
	color: #000000;}
#breadcrumbs a:visited {
	color: #000000;}

#breadcrumbs { color: #000000;}
#breadcrumbs {background-color: #cccccc;
              border-top: 1px solid #ffffff;}
#main        {border-top: 1px solid #8e8e8e;}
#breadcrumbs a:link{
	color: #555555;}
#breadcrumbs a:visited {
	color: #555555;}
#breadcrumbs a:hover {
	color: #555555 !important;}

.app h3 {
    background-color: #003366;
	background-image: url('images/rc-t-l-10-1body-2heading-3heading.png');
}
    
.app h4 {
    background-color: #888888;
	background-image: url('images/rc-t-l-10-1body-2subheading-3subheading.png');
}
    
#topmodule    { background-color: #dddddd;
                border-top: 1px solid #ffffff;
	            border-bottom: 1px solid #9a9a9a;
                color: #555555;}
#topmodule #issueid {
	border-right: 1px solid #9a9a9a;
}
#topmodule a:link{
	color: #0000ff;}
#topmodule a:visited {
	color: #009999;}
#topmodule a:hover {
	color: #6587ff !important; }

.toolgroup .label {	background: #dddddd;
                    border-bottom: 1px solid #9a9a9a;
	                border-right: 1px solid #9a9a9a;
	                color: #555555;
} 
#mytools .body, #projecttools .body, #admintools .body, #communitytools .body {
	background-color: #ffffff;
	border-right: 1px solid  #ffffff;
	border-bottom: 1px solid  #ffffff;
	border-top: 1px solid  #b2b2b2;
	border-left: 1px solid  #b2b2b2;
    }
#mytools .body a:link, #projecttools .body a:link, #admintools .body a:link, #communitytools .body a:link{
	color: #0000ff;}
#mytools .body a:visited, #projecttools .body a:visited, #admintools .body a:visited, #communitytools .body a:visited{
	color: #009999;}
#mytools .body a:hover, #projecttools .body a:hover, #admintools .body a:hover, #communitytools .body a:hover{
	color: #009999 !important;}

.toolgroup { background: #eeeeee;}
.toolgroup .body {
	border-right: 1px solid #a6a6a6;;
	border-bottom: 1px solid #a6a6a6;;
}

body         { background-color: #ffffff;}
a:link, #navcolumn a:visited, .app a:visited, .tasknav a:visited {
	color: #0000ff;
}
a:link.selfref, a:visited.selfref {
	color: #009999 !important;
	text-decoration: none;
}
a:active, a:hover, #leftcol a:active, #leftcol a:hover {
	color: #6587ff !important;
}

body .grid td {
	border-top: 1px solid #cccccc;
	border-left: 1px solid #cccccc;}
.app th {
	background-color: #cccccc;}
body .grid td {
	background-color: #ffffff;
} 
.highlight        { background-color: #ffff00;} 
.warningmessage {border-color: #cc6600;} 
.infomessage {  border-color: #006699;} 
.errormessage{  border-color: #990000;} 
.code, code, pre        { border-color: #eeeeee;} 
#footer      { background-color: #ffffff;} 

#toptabs td{
	background-image: url('images/rc-t-l-10-1header-2tab-unselected-3tab-unselected.png');


}

#toptabs th {
	background-image: url('images/rc-t-l-10-1header-2tab-selected-3tab-selected.png');
}

