name: C/C++ CI

on: [push, pull_request]

jobs:
  lint:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: lint
      run: ./validate-src.sh
    - name: lint-xml
      run: sudo apt-get update && sudo apt-get install --yes libxml2-utils && ./dtd_check.sh

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: prepare
      run: git submodule update --init
    - name: installdeps
      run: sudo apt-get update && sudo apt-get install --yes build-essential cmake libpcap-dev openssl libssl-dev libgsl-dev libsctp-dev libncurses5-dev libncurses5
    - name: build
      run: ./build.sh --full
    - name: test
      run: TEST_SKIP_VALGRIND=1 ./regress/runtests

  build-osx:

    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v4
    - name: prepare
      run: git submodule update --init
    - name: build
      run: ./build.sh --none


  build-static:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: prepare
      run: git submodule update --init
    - name: build-static
      run: docker build -f docker/Dockerfile --output=. --target=bin .
    - uses: actions/upload-artifact@v4.3.0
      with:
         name: sipp
         path: ./sipp
