name: C/C++ CI

on: [push, pull_request]

jobs:
  lint:

    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v6
    - name: lint
      run: ./validate-src.sh
    - name: lint-xml
      run: sudo apt-get update && sudo apt-get install --yes libxml2-utils && ./dtd_check.sh

  build:

    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v6
    - name: prepare
      run: git submodule update --init
    - name: installdeps
      run: sudo apt-get update && sudo apt-get install --yes build-essential cmake libpcap-dev openssl libssl-dev libgsl-dev libsctp-dev libncurses-dev libncurses6
    - name: build
      run: ./build.sh --full
    - name: test
      run: TEST_SKIP_VALGRIND=1 ./regress/runtests

  build-osx:

    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v6
    - name: prepare
      run: |
        git submodule update --init
        brew install openssl@3
    - name: build
      run: |
        export OPENSSL_ROOT_DIR=$(brew --prefix openssl@3)
        ./build.sh --none


  build-static:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
    - name: prepare
      run: git submodule update --init
    - name: build-static
      run: docker build -f docker/Dockerfile --output=. --target=bin .
    - uses: actions/upload-artifact@v6
      with:
         name: sipp
         path: ./sipp

  build-wolfssl:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v6
    - name: prepare
      run: git submodule update --init
    - name: build-wolfssl
      run: docker build -f docker/Dockerfile.debian --build-arg WOLFSSL=1 .
